
*.txt
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.log
*.tlog
*.ilk
*.idb
*.obj
*.recipe
*.json
.vs/TankWar/v17/.suo
TankWar/x64/Debug/vc143.pdb
x64/Debug/sfml-audio-d-3.dll
x64/Debug/sfml-graphics-d-3.dll
x64/Debug/sfml-network-d-3.dll
x64/Debug/sfml-system-d-3.dll
x64/Debug/sfml-window-d-3.dll
x64/Debug/TankWar.exe
x64/Debug/TankWar.pdb
